.login-container {
    background-color: #0f172a;
    margin: 0;
    padding: 0;
    height: 100%;
}


.login-card {
    background-color: #1e293b;
    padding: 2.5rem;
    border-radius: 10px;
    width: 360px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.login-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.5rem;
}

.login-subtitle {
    text-align: center;
    color: #94a3b8;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

/* Formulario */
.login-form {
    display: flex;
    flex-direction: column;
}


.login-label {
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
    color: #cbd5e1;
}

.login-input {
    background-color: #0f172a;
    border: 1px solid #334155;
    border-radius: 6px;
    padding: 0.6rem 0.8rem;
    margin-bottom: 1.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
}

.login-input:focus {
    border-color: #3b82f6;
    outline: none;
}


.password-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-link {
    font-size: 0.8rem;
    color: #3b82f6;
    text-decoration: none;
}

.forgot-link:hover {
    text-decoration: underline;
}


.login-button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.5rem;
}

.login-button:hover {
    background-color: #1d4ed8;
}


.register-text {
    text-align: center;
    font-size: 0.85rem;
    color: #94a3b8;
    margin-top: 1.5rem;
}

.register-link {
    color: #3b82f6;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}