body {
    background-color: #f9fafb;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.registro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registro-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    width: 380px;
    text-align: center;
}

.titulo {
    font-size: 28px;
    font-weight: 700;
    color: #1e293b;
    margin-bottom: 8px;
}

.subtitulo {
    color: #64748b;
    font-size: 15px;
    margin-bottom: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.campo {
    margin-bottom: 18px;
}

.campo label {
    font-size: 14px;
    color: #1e293b;
    display: block;
    margin-bottom: 6px;
}

.campo input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    font-size: 14px;
}

.campo input::placeholder {
    color: #94a3b8;
}

.boton-registrar {
    background-color: #4338ca;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 8px;
}

.boton-registrar:hover {
    background-color: #3730a3;
}

.texto-login {
    margin-top: 25px;
    font-size: 14px;
    color: #475569;
}

.link-login {
    color: #4338ca;
    text-decoration: none;
    font-weight: 500;
}

.link-login:hover {
    text-decoration: underline;
}


.registro-container {
    background-color: #f9fafb;
    width: 100%;
    height: 100vh;
}

html,
body {
    background-color: #f9fafb !important;
}